/*Nav bar*/

#navbar-logo {
   width: 100%;
   height: 100%;
}

body{
   background-color: #F2F2F2;
}

#accessbutton{
   background-color: #bf7b54d2;
   border-color: transparent;
}


/*Reserva*/

#gameTypeGroup .card{
   
}

/*Tarjetas tipo de juego*/

.card{
   margin-right: 2em;
   margin-left: 2em;
}

.card:hover {
   cursor: pointer;
 }
 
/*Tarjetas seleccionadas*/
.selected {
    border: 2px solid #bf7b54d2; /* Borde azul */
}

.card-group > .card.selected {
   border-left: 2px solid #bf7b54d2; /* para sobreescribir bootstrap y aplique el borde izquierdo al ser seleccionado*/
   border-radius: 8px;
}

.selected .card-img-top {
   border-top-left-radius: 6px !important;
   border-top-right-radius: 2px !important;
}



/* Precios */

#cemento{
   background-color: #145E8C;
   color: #F2F2F2;
}

#polvoladrillo {
   background-color: #bf7b54d2;
   color: #F2F2F2;
}

#maquina{
   background-color: #A1BF39;
   color: #F2F2F2;
}

#fronton{
   background-color: #F2F2F2!important;
   color: black!important;
}

#calendardate{
   background-color: #F2F2F2;
   border-color: #145E8C;
   border-radius: 8px;
   padding: 2px;
}

/*Calendario reserva*/

#calendar {
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }
 .flatpickr-calendar {
   margin: 0 auto;
 }

 .flatpickr-day.selected{
   background: #bf7b54d2 !important;
   border-color: #bf7b54d2 !important;
 }
